@{
    ViewData["Title"] = "Home";
}

<!--A simple index page with a title and Joel's photo-->
<h1>Welcome to Joel's totally awesome film collection!</h1>
<br />
<img src="~/img/JoelHiltonHeadshot.jpg" />