
@{
    ViewData["Title"] = "My Podcasts";
}

<!--Podcast page with a link to an external site-->
<h1>Podcasts</h1>

<h3>Check out my super cool podcast! Click the link below for some awesomeness!</h3>
<br />
<a href="https://baconsale.com/">Click Here!</a>